<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . index.php [L]
</IfModule>

# Prevent file browsing
Options -Indexes

# Error Pages
ErrorDocument 401 /CampFire150/401.html
ErrorDocument 403 /CampFire150/403.html
ErrorDocument 500 /CampFire150/500.html
