<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . index.php [L]
</IfModule>

# Prevent file browsing
Options -Indexes

# Error Pages
ErrorDocument 401 /CampFire150/error/error401
ErrorDocument 403 /CampFire150/error/error403
ErrorDocument 404 /CampFire150/error/error404

ErrorDocument 500 /CampFire150/error/error500
ErrorDocument 502 /CampFire150/error/error502
ErrorDocument 504 /CampFire150/error/error504
ErrorDocument 508 /CampFire150/error/error508
