/* CSS Styles */

/* This overides the validation css to make it work on dropdown inputs */
.form-control-feedback
{
	margin-right: 10px;
}

.StoryActionButtons {
	color: #303030;
	text-decoration: none;
}