.UserSearchBar {
  border-bottom: 2px solid orange;
}
.UserSearchBar li a {
	border-radius: 0;
}
.UserSearchBar li.active:after, .UserSearchBar li.active:before {
	bottom: 0%;
    margin-bottom: 0px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/*		Will add white to inside of triangle
.storySearchBar li.active:after {
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: -6px;
    z-index: 1;
}*/
.UserSearchBar li.active:before {
	border-bottom-color: orange;
	border-width: 9px;
	margin-left: -9px;
    z-index: 1;
}


#UserSearch{
	height: 50px;
	font-size: 2em;
}

#UserSearchButton {
	height: 50px;
	width: 50px;
}

.userProfilePic {
	width:100px;
   height:100px;
}
